.Subscribe {
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05);
  padding: 30px 0; }

.SubscribeForm {
  width: 90%;
  margin: 0 auto; }
  .SubscribeForm .container {
    -webkit-position: relative;
    -ms-position: relative;
    -o-position: relative;
    position: relative;
    height: 40px; }
    .SubscribeForm .container .email {
      -webkit-position: absolute;
      -ms-position: absolute;
      -o-position: absolute;
      position: absolute;
      font-size: 1rem;
      border: 3px solid #1B3359;
      width: 100%;
      height: 100%;
      outline: none; }
    .SubscribeForm .container .button {
      font-size: .9rem;
      text-transform: uppercase;
      padding: 10px;
      background-color: #1B3359;
      border: 1px solid #1B3359;
      color: #ffffff;
      letter-spacing: 2px;
      height: 100%;
      -webkit-position: absolute;
      -webkit-top: 4px;
      -webkit-right: -2px;
      -ms-position: absolute;
      -ms-top: 4px;
      -ms-right: -2px;
      -o-position: absolute;
      -o-top: 4px;
      -o-right: -2px;
      position: absolute;
      top: 4px;
      right: -2px;
      outline: none; }

.SocialMedia {
  text-align: center;
  margin-top: 40px; }
  .SocialMedia .facebook-icon,
  .SocialMedia .instagram-icon,
  .SocialMedia .youtube-icon {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url(../../images/png/social-icons.png);
    margin: 0 5px; }
  .SocialMedia .instagram-icon {
    background-position: 0 -51px; }
  .SocialMedia .youtube-icon {
    background-position: 0 -102px; }
