.Item {
  // padding-top: 30px;
  margin: 10px;

  span {
    display: block;
  }

  .grid {
    width: 100%;
  }

  .item-text {
    margin: 8px;
    line-height: 20px;

    .description {
      font-weight: 600;
      text-align: left;
      font-family: "futura-pt", helvetica, arial, sans-serif;
    }

    .price {
      text-align: left
    }

  }

}
