.Item {
  margin: 10px; }
  .Item span {
    display: block; }
  .Item .grid {
    width: 100%; }
  .Item .item-text {
    margin: 8px;
    line-height: 20px; }
    .Item .item-text .description {
      font-weight: 600;
      text-align: left;
      font-family: "futura-pt", helvetica, arial, sans-serif; }
    .Item .item-text .price {
      text-align: left; }
