.Care {
  text-align: center; }
  .Care span {
    text-transform: uppercase;
    display: block;
    margin: .5rem;
    font-weight: bold;
    font-family: Garamond, Georgia, "Times New Roman", serif; }
