.Shirts {
  background-color: #f2f2f2;
  text-align: center; }
  .Shirts .transformation {
    width: 100%; }
  .Shirts .headline {
    text-decoration: none;
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000; }
  .Shirts div:nth-child(2) {
    padding: 30px;
    text-transform: uppercase; }
    .Shirts div:nth-child(2) p {
      font-size: 16px;
      line-height: 1.4;
      letter-spacing: 0;
      padding-top: 15px;
      padding-bottom: 15px; }
  .Shirts .collection {
    text-decoration: none;
    padding: 15px;
    background-color: #1B3359;
    border: 1px solid #1B3359;
    color: #ffffff; }
