@import "../../styles/_variable.scss";

.shops {
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05);
    padding: 20px 30px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.care,
.cards {
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.05);
  padding: 30px 0;
}
