@import "../../styles/_variable.scss";
@import "../../styles/_mixin.scss";

.Header,
.HeaderEdit {
  width: 100%;
  background-color: $_white;
  position: fixed;
  z-index: 1;

  .Container {
    width: 90%;
    height: 20px;
    margin: 0 auto;
    padding: 15px 0;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);

    position: relative;

    .logo {
      width: 90px;
      position: absolute;
    }

    .cart {
      width: 25px;
      position: absolute;
      right: 60px;
      top: 10px;
    }

    .text {
      position: absolute;
      right: 5px;
      top: 17px;
      text-transform: uppercase;
    }

}

.SearchForm {
  width: 90%;
  margin: 0 auto;
  padding: 1.3rem;
  display: none;

  .container {
    height: 40px;
    position: relative;
    border: 1px solid $_midnight-express;

    .search {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      padding-left: .3rem;
      background-color: $_midnight-express;
      position: absolute;
    }

    .button {
      position: absolute;
      width: 40px;
      border: none;
      left: 7px;
      top: 5px;
      background: none;
      outline: none;
    }
  }

}

.Navigation-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  margin: 0 auto;

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: $_black;
    font-size: large;

    @include breakpoint_up(xxxs) {
      font-size: medium;
    }

    @include breakpoint_down(xxxs) {
      font-size: large;
    }
  }
}

.Piece {
  width: 90%;
  margin: 1.5rem auto 0 auto;
  display: none;


  div {
    margin-bottom: 1.5rem;
    float: left;
    width: 50%;
  }

  span {
    display: block;
    margin-bottom: .3rem;
  }

  .title {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: bold;
  }
}

}

.HeaderEdit {
  background-color: $_catalina-blue;

  .Container {
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.05);
    color: $_white;

    .logo ,
    .cart {
      fill: $_white !important;
    }
  }

  .SearchForm {
    display: block;

    .magnifier {
      fill: $_white !important;
    }
  }

  .Piece {
    display: block;

    span {
      color: $_white;
    }
  }

  .Navigation-container {
    a {
      color: $_white;
    }
  }

}
