@import "../../styles/_variable.scss";
@import "../../styles/_mixin.scss";

.Header {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 10px 0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);

  span:last-child {
    float: right;
  }

  .logo {
    width: 70px;
  }

  .cart {
    width: 16px;
    padding-right: 10px;
  }

}
